{% extends 'base.html' %}
{% load set getchildren from tmptags  %}

{% block content %}

    {#                  展示商品   #}

    <div class="item">
        <ul class="thumbnails">
            {% for product in product_list %}
                <li class="span3">
                    <div class="thumbnail">
                        <a  href="{% url 'category:product_detail' product.id %}"><img src="{{ product.images_url }}" alt=""/></a>
                        <div class="caption">
                            <h5>{{ product.name }}</h5>
                            <p>
                                {{ product.summary }}
                            </p>

                            <h4 style="text-align:center">
                                <a class="btn" href="{% url 'category:product_detail' product.id %}"> <i class="icon-zoom-in"></i></a>
                                <span class="btn btn-primary" href="#">￥{{ product.retail }}</span>

                            <form action="{% url 'add_to_basket' product.id %}" method="post" name="add_to_basket">
                                {% csrf_token %}
                                <input type="hidden" value="1" name="quantity"/>
                                <button class="btn btn-primary" data-loading-text="添加中.."> 加入购物车</button>
                            </form>
                            </h4>

                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% autoescape off %}
        {{ paginator }}
    {% endautoescape %}
{% endblock %}


{% block side_menu %}

    {% set a = 1 %}
    <ul d="sideManu" class="nav nav-tabs nav-stacked">
        {% for cate in cate_list %}
            {% if a == 1 %}
                <li class="subMenu open"><a> {{ cate.name }}</a>
                <ul>
                {% set a = 0 %}
            {% else %}
                <li class="subMenu"><a> {{ cate.name }}</a>
                <ul style="display:none">
            {% endif %}



        {% for child in cate|getchildren %}
            {#                <li><a class="active" href="products.html"><i class="icon-chevron-right"></i>{{ child.name }} </a></li>#}
            <li><a href="{% url 'category:category_list' child.id %}"><i class="icon-chevron-right"></i>{{ child.name }}</a></li>

        {% endfor %}
        </ul>
        </li>

        {% endfor %}
        </ul>
{% endblock %}